@font-face {
  font-family: 'shityaknickers';
  src: url('BebasNeue-Regular.ttf')
}

* {
  margin: 0px;
}

body {
  background: url(dog.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin:0;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  length: 100%;
}

.title {
  color: hotpink;
  font-family: 'shityaknickers';
  font-size: 45px;
  margin-top: 40px;
  text-align: center;
  text-shadow: 0 1px 0 #ccc,
                0 2px 0 #c9c9c9,
                0 3px 0 #bbb,
                0 4px 0 #b9b9b9,
                0 5px 0 #aaa,
                0 6px 1px rgba(0,0,0,.1),
                0 0 5px rgba(0,0,0,.1),
                0 1px 3px rgba(0,0,0,.3),
                0 3px 5px rgba(0,0,0,.2),
                0 5px 10px rgba(0,0,0,.25),
                0 10px 10px rgba(0,0,0,.2),
                0 20px 20px rgba(0,0,0,.15);
}

#cuddleContainer {
  /*stitching*/
  outline: 1px dashed #98abb9;
  outline-offset: -5px;
  
  background-color: #ffe600;
  height: 200px;
  width: 700px;
  margin: 50px auto;
  -moz-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
  -webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
  box-shadow: 1px 2px 3px rgba(0,0,0,.5);
}

.stanContainer {
  width: 100%;
  display:flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin-top: 70px;
}

p {
  color: hotpink;
  font-size: 50px;
  text-align: center;
  font-family: 'shityaknickers';
}
