@font-face {
  font-family: 'shityaknickers';
  src: url('BebasNeue-Regular.ttf')
}

* {
  margin: 0px;
}

body {
  background-color: black;
  margin:0;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  length: 100%;
}

.title {
  color: red;
  font-family: 'shityaknickers';
  font-size: 70px;
  margin-top: 60px;
  text-align: center;
  text-shadow: 0 1px 0 #ccc,
                0 2px 0 #c9c9c9,
                0 3px 0 #bbb,
                0 4px 0 #b9b9b9,
                0 5px 0 #aaa,
                0 6px 1px rgba(0,0,0,.1),
                0 0 5px rgba(0,0,0,.1),
                0 1px 3px rgba(0,0,0,.3),
                0 3px 5px rgba(0,0,0,.2),
                0 5px 10px rgba(0,0,0,.25),
                0 10px 10px rgba(0,0,0,.2),
                0 20px 20px rgba(0,0,0,.15);
}

#horrorContainer {
  /*stitching*/
  outline: 1px dashed #98abb9;
  outline-offset: -5px;
  
  background-color: #556068;
  height: 300px;
  width: 900px;
  margin: 50px auto;
  
  /*shadow*/
  -webkit-box-shadow: 2px 2px 2px #000;
  -moz-box-shadow: 2px 2px 2px #000;
  box-shadow: 2px 2px 2px #000;
 }

button {
  width: 15%;
  margin-top: 100px;
  length: 20%;

}

p {
  color: white;
  font-size: 100px;
  text-align: center;
  font-family: 'shityaknickers';
}